In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as soup
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import csv
import sqlite3
import timeit
start_time = timeit.default_timer()

# Data Collection For Team Table

In [2]:
#create the chromedriver connection
browser = Browser('chrome')

In [3]:
#specify the webiste and use BeautifulSoup to create the Parser
teams_url = 'https://www.spotrac.com/nfl/cap/'
browser.visit(teams_url)
html1 = browser.html
soup = soup(html1, 'html.parser')

In [4]:
#loop through and replace all the 'span'elemnts as they create double strings later on
for span_tag in soup.find_all('span', style='display:none'):
    span_tag.replace_with('')

In [5]:
#Create a list for the end syntax of each url so we can loop through specific teams
url_end = []
#delete the leauge average row
for average in soup.find_all('tr', class_='average'):
        average.extract()
#Loop through extract team names and formate to match urls ending format
for team in soup.find_all('span', class_='xs-hide'):
    format = team.string.replace(" ", "-")+'/cap/'
    url_end.append(format)

In [6]:
#Create list of team names that we will use for the table_names of each teams data
table_names = []
for average in soup.find_all('tr', class_='average'):
        average.extract()
for team2 in soup.find_all('span', class_='xs-hide'):
    format2 = team2.string.replace(" ", "_")
    table_names.append(format2)

In [7]:
table_names

['Pittsburgh_Steelers',
 'New_York_Jets',
 'Tennessee_Titans',
 'Chicago_Bears',
 'Atlanta_Falcons',
 'Arizona_Cardinals',
 'New_England_Patriots',
 'Cincinnati_Bengals',
 'Las_Vegas_Raiders',
 'Los_Angeles_Chargers',
 'Carolina_Panthers',
 'Green_Bay_Packers',
 'Cleveland_Browns',
 'Detroit_Lions',
 'Houston_Texans',
 'Washington_Commanders',
 'Indianapolis_Colts',
 'Miami_Dolphins',
 'Seattle_Seahawks',
 'San_Francisco_49ers',
 'Buffalo_Bills',
 'Denver_Broncos',
 'Baltimore_Ravens',
 'Philadelphia_Eagles',
 'Jacksonville_Jaguars',
 'Los_Angeles_Rams',
 'Kansas_City_Chiefs',
 'Minnesota_Vikings',
 'Dallas_Cowboys',
 'New_York_Giants',
 'New_Orleans_Saints',
 'Tampa_Bay_Buccaneers']

In [8]:
url_end

['Pittsburgh-Steelers/cap/',
 'New-York-Jets/cap/',
 'Tennessee-Titans/cap/',
 'Chicago-Bears/cap/',
 'Atlanta-Falcons/cap/',
 'Arizona-Cardinals/cap/',
 'New-England-Patriots/cap/',
 'Cincinnati-Bengals/cap/',
 'Las-Vegas-Raiders/cap/',
 'Los-Angeles-Chargers/cap/',
 'Carolina-Panthers/cap/',
 'Green-Bay-Packers/cap/',
 'Cleveland-Browns/cap/',
 'Detroit-Lions/cap/',
 'Houston-Texans/cap/',
 'Washington-Commanders/cap/',
 'Indianapolis-Colts/cap/',
 'Miami-Dolphins/cap/',
 'Seattle-Seahawks/cap/',
 'San-Francisco-49ers/cap/',
 'Buffalo-Bills/cap/',
 'Denver-Broncos/cap/',
 'Baltimore-Ravens/cap/',
 'Philadelphia-Eagles/cap/',
 'Jacksonville-Jaguars/cap/',
 'Los-Angeles-Rams/cap/',
 'Kansas-City-Chiefs/cap/',
 'Minnesota-Vikings/cap/',
 'Dallas-Cowboys/cap/',
 'New-York-Giants/cap/',
 'New-Orleans-Saints/cap/',
 'Tampa-Bay-Buccaneers/cap/']

In [9]:
#scrape the website to find elements within the table
cap = soup.find_all('td')

In [10]:
#create the distribution by looping through the element
distribution1 = [value.text.strip() for value in cap]

#Print only the team names and not the \n abrreviation
distribution1 = [s.split('\n')[0] for s in distribution1]

In [11]:
#print the distribution to check everything prints right
distribution1[0::][::10][0]

'1'

In [12]:
#Create column names for our data
column_names = [
    "Team_id"
    "Teams", 
    "Position", 
    "Signed", 
    "Avg_Age", 
    "Active", 
    "Dead_Cap", 
    "Top_51_Cap", 
    "Cap_Space_(Top 51)", 
    "Total_Cap", 
    "Cap_Space(All)"
]

In [13]:
#Create Dictionary to store the list data
team_dictionary = {}

team_dictionary["Team_id"] = np.arange(1, len(distribution1[0::][::10])+1)
team_dictionary["Teams"] = distribution1[1::][::10]
team_dictionary["Rank"] = distribution1[0::][::10]
team_dictionary["Signed"] = distribution1[2::][::10]
team_dictionary["Avg_Age"] = distribution1[3::][::10]
team_dictionary["Active"] = distribution1[4::][::10]
team_dictionary["Dead_Cap"] = distribution1[5::][::10]
team_dictionary["Top_51_Cap"] = distribution1[6::][::10]
team_dictionary["Cap_Space_Top_51"] = distribution1[7::][::10]
team_dictionary["Total_Cap"] = distribution1[8::][::10]
team_dictionary["Cap_Space_All"] = distribution1[9::][::10]
    
    
#convert that dictionary to a DataFrame so its easier to manage    
team_df = pd.DataFrame(data=team_dictionary)

In [14]:
team_df

,Team_id,Teams,Rank,Signed,Avg_Age,Active,Dead_Cap,Top_51_Cap,Cap_Space_Top_51,Total_Cap,Cap_Space_All
0,1,Pittsburgh Steelers,1,15,28.47,"$166,625,837","$4,755,000","$171,380,837","$57,846,308","$171,380,837","$57,846,308"
1,2,New York Jets,2,21,27.19,"$171,997,744",-,"$171,997,744","$56,582,966","$171,997,744","$56,582,966"
2,3,Tennessee Titans,3,19,26.63,"$145,054,659","$30,936,668","$175,991,327","$54,907,707","$175,991,327","$54,907,707"
3,4,Chicago Bears,4,58,26.16,"$168,820,850","$22,968,810","$187,289,660","$45,149,196","$191,789,660","$40,649,196"
4,5,Atlanta Falcons,5,67,26.31,"$182,103,124","$16,585,999","$189,569,123","$40,802,422","$198,689,123","$31,682,422"
5,6,Arizona Cardinals,6,53,26.85,"$185,081,444","$11,562,966","$196,644,410","$32,655,131","$196,644,410","$32,655,131"
6,7,New England Patriots,7,62,27.52,"$182,639,828","$16,559,604","$192,209,432","$30,170,816","$199,199,432","$23,180,816"
7,8,Cincinnati Bengals,8,57,26.05,"$200,461,052","$619,060","$196,580,112","$30,028,624","$201,080,112","$25,528,624"
8,9,Las Vegas Raiders,9,56,26.46,"$178,718,845","$30,062,498","$207,281,343","$27,719,925","$208,781,343","$26,219,925"
9,10,Los Angeles Chargers,10,56,26.38,"$202,339,152","$2,185,926","$202,275,078","$24,245,886","$204,525,078","$21,995,886"
10,11,Carolina Panthers,11,53,26.3,"$165,406,739","$50,906,870","$216,313,609","$21,838,323","$216,313,609","$21,838,323"
11,12,Green Bay Packers,12,56,26.07,"$191,995,664","$16,952,196","$205,197,860","$21,565,991","$208,947,860","$17,815,991"
12,13,Cleveland Browns,13,63,25.89,"$231,089,372","$7,763,964","$231,113,336","$20,658,498","$238,853,336","$12,918,498"
13,14,Detroit Lions,14,60,25.97,"$199,328,600","$10,250,438","$206,579,038","$20,630,664","$209,579,038","$17,630,664"
14,15,Houston Texans,15,64,27.2,"$217,449,733","$2,895,325","$211,375,058","$20,045,017","$220,345,058","$11,075,017"
15,16,Washington Commanders,16,67,26.42,"$202,760,411","$18,992,154","$211,402,565","$19,849,335","$221,752,565","$9,499,335"
16,17,Indianapolis Colts,17,66,26.41,"$218,201,111","$5,241,656","$213,212,767","$18,959,608","$223,442,767","$8,729,608"
17,18,Miami Dolphins,18,49,26.43,"$203,073,773","$4,244,738","$207,318,511","$18,393,084","$207,318,511","$18,393,084"
18,19,Seattle Seahawks,19,51,26.59,"$190,662,167","$15,893,753","$206,555,920","$15,549,570","$206,555,920","$15,549,570"
19,20,San Francisco 49ers,20,55,26.42,"$207,318,291","$17,100,658","$222,918,949","$14,601,319","$224,418,949","$13,101,319"
20,21,Buffalo Bills,21,60,27.05,"$217,245,387","$1,654,690","$213,410,077","$14,335,968","$218,900,077","$8,845,968"
21,22,Denver Broncos,22,66,26.45,"$222,541,013","$7,585,864","$220,256,877","$12,646,974","$230,126,877","$2,776,974"
22,23,Baltimore Ravens,23,52,26.19,"$201,830,201","$10,632,377","$212,462,578","$11,149,307","$212,462,578","$11,149,307"
23,24,Philadelphia Eagles,24,67,26.51,"$180,680,847","$54,727,983","$226,168,830","$8,516,592","$235,408,830","$-723,408"
24,25,Jacksonville Jaguars,25,59,26.22,"$218,348,324","$5,411,505","$218,509,829","$8,217,488","$223,759,829","$2,967,488"
25,26,Los Angeles Rams,26,44,26.02,"$173,587,571","$43,273,395","$216,860,966","$8,007,346","$216,860,966","$8,007,346"
26,27,Kansas City Chiefs,27,50,25.96,"$205,045,768","$7,773,425","$212,819,193","$7,628,600","$212,819,193","$7,628,600"
27,28,Minnesota Vikings,28,58,26.47,"$196,077,260","$19,524,166","$214,101,426","$7,595,577","$215,601,426","$6,095,577"
28,29,Dallas Cowboys,29,61,26.13,"$221,665,440","$8,645,953","$223,561,393","$6,777,443","$230,311,393","$27,443"
29,30,New York Giants,30,65,26.08,"$228,227,748","$8,041,275","$226,669,023","$3,007,335","$236,269,023","$-6,592,665"
30,31,New Orleans Saints,31,58,27.14,"$205,991,996","$22,857,976","$223,599,972","$561,195","$228,849,972","$-4,688,805"
31,32,Tampa Bay Buccaneers,32,54,27.07,"$208,915,526","$20,193,465","$227,608,991","$-176,178","$229,108,991","$-1,676,178"

In [15]:
#close out of chromedriver browser
browser.quit()

In [16]:
# create a connection to an SQLite database
with sqlite3.connect('sport_caps.db') as con:

# write the dataframe to an SQLite table
    team_df.to_sql('nfl_teams', con=con, if_exists='replace', index=False, dtype={'Team_id': 'INTEGER PRIMARY KEY AUTOINCREMENT'})

con.commit()
# close the database connection
con.close()

# Data Collection For Individual Teams and Players

In [17]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

# Create the list of urls using the base and endings that we defined ad url_end
full_urls = []
base_url = 'https://www.spotrac.com/nfl/'
for front_url in url_end:
    full_url = (base_url + front_url)
    full_urls.append(full_url)
    
full_urls

['https://www.spotrac.com/nfl/Pittsburgh-Steelers/cap/',
 'https://www.spotrac.com/nfl/New-York-Jets/cap/',
 'https://www.spotrac.com/nfl/Tennessee-Titans/cap/',
 'https://www.spotrac.com/nfl/Chicago-Bears/cap/',
 'https://www.spotrac.com/nfl/Atlanta-Falcons/cap/',
 'https://www.spotrac.com/nfl/Arizona-Cardinals/cap/',
 'https://www.spotrac.com/nfl/New-England-Patriots/cap/',
 'https://www.spotrac.com/nfl/Cincinnati-Bengals/cap/',
 'https://www.spotrac.com/nfl/Las-Vegas-Raiders/cap/',
 'https://www.spotrac.com/nfl/Los-Angeles-Chargers/cap/',
 'https://www.spotrac.com/nfl/Carolina-Panthers/cap/',
 'https://www.spotrac.com/nfl/Green-Bay-Packers/cap/',
 'https://www.spotrac.com/nfl/Cleveland-Browns/cap/',
 'https://www.spotrac.com/nfl/Detroit-Lions/cap/',
 'https://www.spotrac.com/nfl/Houston-Texans/cap/',
 'https://www.spotrac.com/nfl/Washington-Commanders/cap/',
 'https://www.spotrac.com/nfl/Indianapolis-Colts/cap/',
 'https://www.spotrac.com/nfl/Miami-Dolphins/cap/',
 'https://www.spotrac.com/nfl/Seattle-Seahawks/cap/',
 'https://www.spotrac.com/nfl/San-Francisco-49ers/cap/',
 'https://www.spotrac.com/nfl/Buffalo-Bills/cap/',
 'https://www.spotrac.com/nfl/Denver-Broncos/cap/',
 'https://www.spotrac.com/nfl/Baltimore-Ravens/cap/',
 'https://www.spotrac.com/nfl/Philadelphia-Eagles/cap/',
 'https://www.spotrac.com/nfl/Jacksonville-Jaguars/cap/',
 'https://www.spotrac.com/nfl/Los-Angeles-Rams/cap/',
 'https://www.spotrac.com/nfl/Kansas-City-Chiefs/cap/',
 'https://www.spotrac.com/nfl/Minnesota-Vikings/cap/',
 'https://www.spotrac.com/nfl/Dallas-Cowboys/cap/',
 'https://www.spotrac.com/nfl/New-York-Giants/cap/',
 'https://www.spotrac.com/nfl/New-Orleans-Saints/cap/',
 'https://www.spotrac.com/nfl/Tampa-Bay-Buccaneers/cap/']

In [18]:
import timeit
start_time = timeit.default_timer()
# empty lists to hold dataframes and counter variables 
dfs = []
player_dfs = []
player_id = 1
team_id = 0


# create a new browser instance
with Browser('chrome') as browser:
    for url in full_urls:
        # visit the URL in the browser
        browser.visit(url)

        # get the HTML content of the page
        html = browser.html

        # parse the HTML content using Beautiful Soup
        soup = BeautifulSoup(html, 'html.parser')

        # extract the data you want and convert it into a dataframe
        for span_tag in soup.find_all('span', style='display:none'):
            span_tag.replace_with('')
        table = soup.find('tbody')
        distribution = [value.text for value in table.find_all('tr', role="row")]
        new_distribution = []
        for s in distribution:
            new_distribution += s.split('\n')
            final_distribution = [item for item in new_distribution if item != '']

        
        
    #Create Dictionary to store the list data
        dictionary = {
            "Team_id": distribution1[0::][::10][team_id],
            "Player_id": np.arange(player_id, player_id+len(final_distribution[0::13])),
            "Active_Players": final_distribution[0::13],
            "Position": final_distribution[1::13],
            "Base_Salary": final_distribution[3::13],
            "Signing_Bonus": final_distribution[4::13],
            "Roster_Bonus": final_distribution[5::13],
            "Option_Bonus": final_distribution[6::13],
            "Workout_Bonus": final_distribution[7::13],
            "Restruc_Bonus": final_distribution[8::13],
            "Misc": final_distribution[9::13],
            "Dead_Cap": final_distribution[10::13],
            "Cap_Hit": final_distribution[2::13],
            "Cap_Percentage": final_distribution[12::13]
        }

        
        
    #Create DataFrame from the dictionary
        df = pd.DataFrame(data=dictionary)
    
    #Append the dataframe to the list
        dfs.append(df)
    
    #For Players Table Create New Dictionary and add the data
        active_players = {
            "Player_id": np.arange(player_id, player_id + len(final_distribution[0::13])),
            "Team_id": distribution1[0::][::10][team_id],
            "Active_Players": final_distribution[0::13],
            "Position": final_distribution[1::13],
            "Base_Salary": final_distribution[3::13],
            "Cap_Hit": final_distribution[2::13],
            "Cap_Percentage": final_distribution[12::13]
        }

    
    #Append the dataframe to the list
        player_df = pd.DataFrame(data=active_players,index=None)
        player_dfs.append(player_df)
    #Increment the player_id and team_id for the next iteration
        player_id = player_id + len(final_distribution[0::][::13])
        team_id = team_id + 1

#Combine the Dataframe into one singular one        
full_player_df = pd.concat(player_dfs)
end_time = timeit.default_timer()
print("Time taken: ", end_time - start_time, " seconds.")

Time taken:  137.380981958  seconds.

In [19]:
dfs[29]

,Team_id,Player_id,Active_Players,Position,Base_Salary,Signing_Bonus,Roster_Bonus,Option_Bonus,Workout_Bonus,Restruc_Bonus,Misc,Dead_Cap,Cap_Hit,Cap_Percentage
0,30,1678,Leonard Williams,DE,"$18,000,000","$7,500,000",-,-,-,"$6,760,000",-,"($20,220,000)","$32,260,000",14.05
1,30,1679,Kenny Golladay,WR,"$13,250,000","$3,400,000","$4,500,000",-,"$250,000",-,-,"($14,700,000)","$21,400,000",9.32
2,30,1680,Daniel Jones,QB,"$9,500,000","$9,000,000",-,-,"$500,000",-,"$2,000,000","($82,000,000)","$21,000,000",9.14
3,30,1681,Adoree' Jackson,CB,"$11,000,000","$4,500,000","$588,230",-,-,"$2,988,333",-,"($10,476,667)","$19,076,563",8.31
4,30,1682,Dexter Lawrence,DT,"$12,407,000",-,-,-,-,-,-,"($10,753,000)","$12,407,000",5.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,30,1738,Kalil Pimpleton,WR,"$750,000",-,-,-,-,-,-,-,"$750,000",0.33
61,30,1739,Makai Polk,WR,"$750,000",-,-,-,-,-,-,-,"$750,000",0.33
62,30,1740,Trenton Thompson,S,"$750,000",-,-,-,-,-,-,-,"$750,000",0.33
63,30,1741,Jamie Gillan,P,-,-,-,-,-,-,-,-,-,0.00
64,30,1742,Bobby Okereke,LB,-,-,-,-,-,-,-,-,-,0.00

In [20]:
#close out of chromedriver browser
browser.quit()

In [21]:
# create a connection to the database
# important to create the .db file first in sqlite before running this code as some schema error can occur if not
conn = sqlite3.connect('sport_caps.db')

# iterate over each dataframe and table name, and write each dataframe to the corresponding table
for df, table_name in zip(dfs, table_names):
    df.to_sql(table_name, conn, if_exists='replace', index=False, dtype={'Player_id': 'INTEGER PRIMARY KEY AUTOINCREMENT', 'Team_id': 'INTEGER'})

conn.commit()

# close the database connection
conn.close()

In [22]:
#check to make sure full player list dataframe is corerct 
full_player_df

,Player_id,Team_id,Active_Players,Position,Base_Salary,Cap_Hit,Cap_Percentage
0,1,1,T.J. Watt,OLB,"$20,000,000","$29,368,694",12.81
1,2,1,Cameron Heyward,DE,"$15,850,000","$22,256,250",9.71
2,3,1,Minkah Fitzpatrick,S,"$14,500,000","$18,000,000",7.85
3,4,1,Diontae Johnson,WR,"$8,000,000","$16,333,333",7.13
4,5,1,Chukwuma Okorafor,RT,"$6,000,000","$13,083,333",5.71
...,...,...,...,...,...,...,...
49,1850,32,Willington Prevlion,DT,"$750,000","$750,000",0.33
50,1851,32,Hamilcar Rashed,DE,"$750,000","$750,000",0.33
51,1852,32,Charles Snowden,DE,"$750,000","$750,000",0.33
52,1853,32,Jake Verity,K,"$750,000","$750,000",0.33
53,1854,32,Aaron Stinnie,G,-,-,0.00

In [23]:
conn = sqlite3.connect('sport_caps.db')

# create player table in nfl_cap database

full_player_df.to_sql('Players', conn, if_exists='replace', index=False, dtype={'Player_id': 'INTEGER PRIMARY KEY AUTOINCREMENT'})

conn.commit()

# close the database connection
conn.close()

In [24]:
end_time = timeit.default_timer()
print("Time taken: ", end_time - start_time, " seconds.")

Time taken:  205.85312933299997  seconds.